.list {
  padding: 0 10px;
  width: -webkit-fill-available;
  align-self: center;
  .list__item {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: white;
    transition: 0.2s;
    user-select: none;
    margin-bottom: 10px;
    border-radius: 3px;
    border: solid 1px $common-color;
    box-shadow: 1px 2px 0 rgb(0 0 0 / 10%), 0 2px 0 rgb(0 0 0 / 7%);
    display: flex;
    justify-content: space-between;
    &:hover {
      color: $common-color;
    }

    .list__text {
      margin: 0;
    }
    .list__button {
      padding: 10px;
      background: $common-color;
      color: white;
      text-align: center;
      cursor: pointer;
      border-radius: 3px;
      transition: 0.3s;
      border: none;
      outline: none;
      height: 38px;
      margin-left: 10px;
      align-self: center;
      &:hover {
        background-color: $light-color;
        color: $common-color;
      }
    }
  }
  .list__item_checked {
    background-color: $common-color;
    color: white;
    &:hover {
      color: white;
    }
    .list__button {
      background: white;
      color: $common-color;
    }
    .list__text {
      text-decoration: line-through;
      &::before {
        content: "";
        position: absolute;
        border-color: white;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
      }
    }
  }
}

@media screen and (min-width: 516px) {
  .list {
    width: 496px;
  }
}

@media screen and (min-width: 900px) {
  .list {
    width: 874px;
  }
}
